modules = ["c-clang14", "cpp-clang14", "nodejs-16", "python-3.12"]
run = "npm run start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 45027
externalPort = 80
